:root {
    --clr-primary-200: #F3EED9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #fff;
    --clr-neutral-900: #222C2A;

    --ff-primary: 'Roboto, san-serif';
    --ff-accent: 'Playfair Display', san-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    padding-top: 40px;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
}